<div class="container">
  <div class="d-flex flex-end w-100 header">
    <img src="./../../../../assets/time-tracking-dashboard/images/icon-study.svg" alt="logo"/>
  </div>
  <div class="body">
    <div class="d-flex space-between w-100 vertical-align-center">
      <span class="title">{{ cardData.title }}</span>
      <img
        src="./../../../../assets/time-tracking-dashboard/images/icon-ellipsis.svg"
        alt="ellipsis"
      />
    </div>
    <div class="body-time">
      <span class="time">32hrs</span
      ><span class="last-week-time">Last Week - 20hrs</span>
    </div>
  </div>
</div>
